* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Header */
.header-section {
  position: relative;
}

.nav-link {
  padding: 0;
}

.nav-name {
  font-size: .6rem;
  margin: 0;
}

.nav-icon {
  font-size: 1rem;
}

.navbar-nav {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-mobile {
  bottom: 0;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, .5);
  position: fixed;
}

.nav-header {
  background-color: white;
}

.nav-top-title {
  font-size: 1.3rem;
}

.nav-list {
  display: none;
}
/* End of Header */

/* Queries */
@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  .nav-mobile {
    display: none;
  }

  .nav-list {
    display: block;
  }
}
/* End of Queries */